<h2>Categories:</h2>
<% @categories.each do |category| %>
  <h3><%= category.name %></h3><%= link_to "Delete", restaurant_category_path(category, restaurant_id: params[:restaurant_id]), method: :delete %> | <%= link_to "Edit", edit_restaurant_category_path(category, restaurant_id: params[:restaurant_id]) %>
  <br>
<% end %>
<p><%= button_to "Add Category", new_restaurant_category_path(restaurant_id: params[:restaurant_id]), method: :get%></p>
