<h1>Hello!</h1>

<p>
  You've been invited to join Crossroads Lodge! Please click on the link below to register your account as
  <%= @user.added_role %> for <%= @user.added_restaurant %>.
</p>
<br>

<%= link_to "Register Now!", registration_url %>

<p>
  If you need to sign in before registering your account, your temporary password is <%= @user.password %>.
</p>
