<div class="container menu-items-block col-md-9">
<% @restaurants.each do |restaurant| %>
  <div class="thumbnail col-sm-6 col-md-4">
    <%#= link_to (image_tag restaurant.image.url(:medium)), restaurant_path(restaurant) %>
    <div class="caption">
      <h3 class="shadow"><%= link_to restaurant.name, "/restaurants/#{restaurant.slug}" %></h3>
      <p class="shadow"><%= restaurant.description %></p>
      <% if restaurant.owner %>
        <p class="shadow">Owned by: <%= restaurant.owner %></p>
      <% end %>
    </div>
  </div>
<%end%>
</div>
